body
{
    margin: 0;
    background-color: #232323;
}
#contain
{
    width: 50%;
    height: 50%;
    margin:0 auto;
}
.square
{
    width:30%;
    background: blue;
    padding-bottom: 30%;
    float: left;
    margin:1.6667%;
    border-radius: 5%;
}
span
{
    color:aliceblue;
}